In [66]:
import pandas as pd
import numpy as np

In [85]:
from sklearn.linear_model import LinearRegression

In [68]:
data = pd.read_csv('hiring.csv')

In [69]:
data

  experience  test_score(out of 10)  interview_score(out of 10)  salary($)
0        NaN                    8.0                           9      50000
1        NaN                    8.0                           6      45000
2       five                    6.0                           7      60000
3        two                   10.0                          10      65000
4      seven                    9.0                           6      70000
5      three                    7.0                          10      62000
6        ten                    NaN                           7      72000
7     eleven                    7.0                           8      80000

In [70]:
df = data.copy()

In [71]:
df

  experience  test_score(out of 10)  interview_score(out of 10)  salary($)
0        NaN                    8.0                           9      50000
1        NaN                    8.0                           6      45000
2       five                    6.0                           7      60000
3        two                   10.0                          10      65000
4      seven                    9.0                           6      70000
5      three                    7.0                          10      62000
6        ten                    NaN                           7      72000
7     eleven                    7.0                           8      80000

In [72]:
df.isnull().mean() *100

experience                    25.0
test_score(out of 10)         12.5
interview_score(out of 10)     0.0
salary($)                      0.0
dtype: float64

In [73]:
def alpha_to_numeric (name):
    if name == 'five':
        return 5
    elif name == 'two':
        return 2
    elif name == 'seven':
        return 7
    elif name == 'three':
        return 3
    elif name == 'ten':
        return 10
    elif name == 'eleven':
        return 11
    else:
        return 0

In [74]:
df['experience'] = df['experience'].apply(alpha_to_numeric)

In [76]:

df['test_score(out of 10)'] = df['test_score(out of 10)'].fillna(df['test_score(out of 10)'].mean())

In [81]:
df['experience'] = df['experience'].astype(int)
df['test_score(out of 10)'] = df['test_score(out of 10)'].astype(int)

## Exploritary Data Analysis

In [82]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8 entries, 0 to 7
Data columns (total 4 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   experience                  8 non-null      int32
 1   test_score(out of 10)       8 non-null      int32
 2   interview_score(out of 10)  8 non-null      int64
 3   salary($)                   8 non-null      int64
dtypes: int32(2), int64(2)
memory usage: 320.0 bytes

In [83]:
df.describe()

,experience,test_score(out of 10),interview_score(out of 10),salary($)
count,8.00000,8.00000,8.000000,8.00000
mean,4.75000,7.75000,7.875000,63000.00000
std,4.26782,1.28174,1.642081,11501.55269
min,0.00000,6.00000,6.000000,45000.00000
25%,1.50000,7.00000,6.750000,57500.00000
50%,4.00000,7.50000,7.500000,63500.00000
75%,7.75000,8.25000,9.250000,70500.00000
max,11.00000,10.00000,10.000000,80000.00000

In [90]:
df

   experience  test_score(out of 10)  interview_score(out of 10)  salary($)
0           0                      8                           9      50000
1           0                      8                           6      45000
2           5                      6                           7      60000
3           2                     10                          10      65000
4           7                      9                           6      70000
5           3                      7                          10      62000
6          10                      7                           7      72000
7          11                      7                           8      80000

In [99]:

X = df[['experience', 'test_score(out of 10)', 'interview_score(out of 10)']]
y = df['salary($)']
lr = LinearRegression()
lr.fit(X, y)

LinearRegression()

In [103]:
feature_names = ['experience', 'test_score(out of 10)','interview_score(out of 10)']
input_array = np.array([0, 6, 5]).reshape(1, -1)
input_array_with_names = pd.DataFrame(input_array, columns=feature_names)
prediction = lr.predict(input_array_with_names)

In [104]:
prediction

array([39057.91887606])

In [105]:
import pickle
pickle.dump(lr, open('model.pkl','wb'))